<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/main">&#x274C;</a>
    <p>Type of Spending:</p>
    <select>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
    </select>
    <p>Amount Spent:</p>
    <nav class="fixed navbar">
      <a href="/details">Details</a>
      <a href="/trends">Spending Trends</a>
      <a href="/savings">Savings</a>
      <a href="/budget">Budget</a>
    </nav>
  </body>
</html>
