<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <br> MoneyBusters!</h1>
    <p>To get started, press the button <br> to set up your finance!</p>
      <a href="/rent">Begin Here</a>
  </body>
</html>
