<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/main">&#x274C;</a>
    <h1>Budget</h1>
    
    <p><span>Budget:</span> <span></span></p>
    
    <nav class="fixed navbar">
      <a href="/details">Details</a>
      <a href="/trends">Spending Trends</a>
      <a href="/savings">Savings</a>
      <a href="/budget">Budget</a>
    </nav>
  </body>
</html>
