<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="Details">
   <div class="back">  <a  href="/main">&#x274C;</a></div>
    <h1>Weekly  <br> Spending Details</h1>
    <% for(var i = 0 ; i < expenses.length ; i++) { %>
        <p>
            <span ><%- JSON.stringify(expenses[i].name).replace(/['"]+/g, '') %>:</span> <span>- $<%- JSON.stringify(expenses[i].amount).replace(/['"]+/g, '') %></span></td>
        </p>
    <% } %>
    <p><span>Budget:</span> <span>+ $<%= budget %></span></p>
    <nav class="fixed navbar">
        <div class="nav-item"><a href="/details">Details</a></div>
        <div class="nav-item"><a href="/trends">Spending Trends</a></div>
        <div class="nav-item"><a href="/savings">Savings</a></div>
        <div class="nav-item"><a href="/budget">Budget</a></div>
        </nav>
  </div>
  </body>
</html>
