<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>How much income do you receive from work weekly?</h1>
    <form action="/income" method="POST">
        <input type="hidden" name="budget" id="budget" value="">
        <div><input name="amount" id="amount" type="number" value=0 min="0" data-name="income" required></div>
        <button id="submitBtn">Finish</button>
    </form>
    <script src="/javascripts/budget.js"></script>
  </body>
</html>