<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="start">
    <h1 class="yellowStyle">Welcome to <br> Money Busters</h1>
    <div class="footer">    <div class="Button"><a href="/login">Login</a></div></div>

  </div>
  </body>
</html>
