<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <br> Money Busters</h1>
    <div class="Button"><a href="/signup">Sign Up</a></div>
    <div class="Button"><a href="/login">Login</a></div>
  </body>
</html>
