<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST" action="/login">
        <%= error %>
        <div><label for="name"> Email:</label> <input name="username" id="username " required type="email"></div>
        <div class="errorMessage" data-email-error-message></div>
        <div><label for="password">Password:</label> <input name="password" type="password" id="password" required></div>
        <div class=errorMessage data-password-error-message></div>
        <div><button>Login</button></div>
    </form>
    <script src="/javascripts/login.js"></script>
  </body>
</html>
