<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Main</h1>
    <p>You have $<%= amount.toFixed(2) %></p>
  </body>
</html>
