<!DOCTYPE html>
<html>
  <head>
      <title>MoneyBusters</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
      <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
  <body>
    <div class="Main">
    <h1>MoneyBusters</h1>
    <p>You have <br> <span class="yellowStyle"> $<%= amount.toFixed(2) %> </span> left to <br> spend for the <br> next<span class="yellowStyle"> <%= days.toFixed(0) %> days.</span></p>

<div>
    <!-- FAB button with ripple -->

</div>
<button class="Add-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
  <i class="material-icons">add</i>
</button>
    <div class="navbar">
      <div class="nav-item"><a href="/details">Details</a></div>
      <div class="nav-item"><a href="/trends">Spending Trends</a></div>
      <div class="nav-item"><a href="/savings">Savings</a></div>
      <div class="nav-item"><a href="/budget">Budget</a></div>
    </div>
  </div>
  
  </body>
</html>
