<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Main</h1>
    <p>You have <br> $<%= amount.toFixed(2) %> left to <br> spend for the <br> next <%= days.toFixed(0) %> days.</p>
  </body>
</html>
