<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>How much money do you spend on phone subscription weekly?</h1>
    <form action="/income">
        <div><input name="amount" id="amount" type="number" value=0 min="0" data-name="phone" required></div>
        <button>Next</button>
    </form>
    <script src="/javascripts/login.js"></script>
  </body>
</html>