@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,800&display=swap');

body {
  background-color: #EC5B56;
  align-content: center;
  text-align: center;
  font-family:  "Nunito Sans", "Helvetica", sans-serif;
  color:white;
}
div{
  margin-top: 100px;

}

a {

  background-color: white;
  color: #EC5B56;
  text-decoration: none;
  padding: 1vw 1vw;
  font: 1em  "Nunito Sans", "Helvetica", sans-serif;
  margin: 10%;
  margin-top: 40%;

}
.start{
  margin-top: 50%;
  width:100%;
  height: 80%;
  margin-left: 25%;
}

h1{
  font-size: 5em;
  font-family: "Nunito Sans", "Helvetica", sans-serif;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 40%;
  color:white;
}
.yellowStyle{
  color: #F8DD6C;
  font-style: normal;

}


div.Button{
  display: block;
  background-color: white;
  color: #EC5B56;
  padding: 50px 100px;
  box-shadow: 0.1em 1em  #707070 0.5;
  margin-left:20%;
  margin-top: 20%;
}
div.Button a{
  color: #EC5B56;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  text-decoration: none;
}

.navbar {
  background-color: white;
  height: 10%;
  width: 100%;
  overflow: hidden;
 position: relative;
  padding-bottom: 50px;
}

.nav-item{
  width: 45%;
  display:inline-block;
  line-height:0.1em;
  font-size:3em;
  text-align:center;
  font-weight:bold;
}

.fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

h1 {
  font-size: 10vw;
}

p {
  font-size: 5em;
  line-height: 1em;
}

input {
  margin-bottom: 5em;
}



.footer{
  display:inline-flex;
  margin-top: 30vh;
  margin-left: 15%;
  margin-right: 25%;
  width:100%;
}

.sign-in label {

 font-size: 2em;
  font-family: "Nunito Sans", "Helvetica", sans-serif;
  color:white;
  text-align:left;
}

.Login{
  height: 100%;
  
}

.Login button{
  background-color:white;
width:50%;
margin-left:20%;
margin-top: 20%;
padding: 30px 50px;
font-size: 2em;
line-height: .5;
}
.Login button:hover{
  background-color:white;
  color: #EC5B56;
}
.form-item{
  display:block;
  margin-left: 20%;
  color:grey;
}

.input-field{
  border-color:#707070 !important;
}
.input-field:focus{
  border-color:#EC5B56 ;

}

.label-field{
  overflow: visible;
  color:#707070 !important;
}

.demo-card-wide.mdl-card{
  width:80%;
margin:0 10%;
padding-top: 10%;
padding-bottom:10%;
}

.Main {
  margin-top: 20%;
margin-bottom:0;
height:100%;

}
.Add-button{
  width: 150px;
  height:150px;
  background-color:white !important;
  float:right;
  margin-right: 50px;
  font-size: 3em;
margin-top: 30%;
}
.Add-button i{
  font-size:2em;
 float:left;
align-self:center;
}
.Add-button:hover{
  color: #EC5B56;
}
.Main p{
  font-size: 8em;
  text-align:left;
  margin-left: 10%;
 
}
.Main{
vertical-align: center;

}
.back a{
margin-left: 80%;
  
}