body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EC5B56;
  align-content: center;
  text-align: center;
}

a {
  font-size: 4vw;
  background-color: white;
  color: #EC5B56;
  text-decoration: none;
  padding: 1vw 1vw;
}

.navbar {
  background-color: white;
  height: 10vh;
  width: 100%;
  overflow: hidden;
}

.fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

h1 {
  font-size: 10vw;
}

p {
  font-size: 10vw;
}

input {
  margin-bottom: 5em;
}