body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EC5B56;
  align-content: center;
}

a {
  background-color: white;
  color: #EC5B56;
  text-decoration: none;
}
